@page
@model CookieAuthDemo.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <p>Are you sure to Logout?</p>
    <button type="submit" class="btn btn-danger">Logout</button>
    <a asp-page="/Index" class="btn btn-secondary">Back to Home</a>
</form>
