@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p>
    This demo stores todo list items in a browser cookie
</p>

@if (Model.Todos.Any())
{
    <h2>Todos List</h2>
    <ul>
        @foreach (var todo in Model.Todos)
        {
            <li>@todo.Name</li>
        }
    </ul>
}
else
{
    <p>No todos present.</p>
}

<form method="post">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="NewTodo.Name" class="form-label">Add Todo</label>
        <input asp-for="NewTodo.Name" class="form-control" placeholder="Enter here" />
        <span asp-validation-for="NewTodo.Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success mb-1">Add</button>
</form>